<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Backbone Todos</title>
	<base href="http://localhost:8000/">
	<link rel="stylesheet" href="style.css">
</head>
<body>

<section id="todoapp">
	<header id="header">
		<h1 class="site-title h1"><a href="/">Todos</a></h1>
		<input type="text" id="new-todo" placeholder="What needs to be done?">
		<div class="filters">
			Fliters:
			<a href="#/">All</a> |
			<a href="#/pending">Show pending</a> |
			<a href="#/completed">Show completed</a>
		</div>
	</header>
	<section id="main">
		<ul id="todo-list"></ul>
	</section>
</section>



<script type="text/template" id="item-template">
	<div class="view">
		<input type="checkbox" class="toggle">
		<input type="text" class="edit" value="<%- title %>">
		<label class="task-title"><%- title %></label>
		<button class="destroy" type="button">X</button>
	</div>
</script>

<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/underscore/underscore-min.js"></script>
<script src="lib/backbone/backbone-min.js"></script>
<script src="lib/backbone.localStorage/backbone.localStorage.js"></script>
<script src="scripts.js"></script>

</body>
</html>
