.site-title a {
	text-decoration: none;
	color: #222;
}

.edit {
	display: none;
}

.editing .task-title {
	display: none;
}

.editing .edit {
	display: inline;
}

.complete {
	text-decoration: line-through;
}

.filters a {
	color: #666;
	text-decoration: none;
}

	.filters a:hover {
		color: #222;
		text-decoration: underline;
	}

	.filters a.active {
		color: #000;
	}
